html {
    font-size: 20px;
}

main > div {
    padding-top: 120px;
}

h2 {
    margin-bottom: 1.5em;
}

h3 {
    font-size: 1.25em;
}

ol, ul {
    padding-inline-start: 25px;
}

li {
    margin-bottom: 2rem;
}

.navbar-brand a {
    color: #896322;
}