html {
    font-size: 20px;
}

main > section {
    padding-top: 120px;
}

h2 {
    margin-bottom: 1.5em;
}

h3 {
    font-size: 1.25em;
}

ol, ul {
    padding-inline-start: 25px;
}

li {
    margin-bottom: 2rem;
}

.micro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

mark {
    background-color: #ffc107;
    color: red;
}